<script>
    var flag_speech = 0;
    function vr_function() {
        window.SpeechRecognition = window.SpeechRecognition || webkitSpeechRecognition;
        var recognition = new webkitSpeechRecognition();
        recognition.lang = 'ja';
        recognition.interimResults = true;
        recognition.continuous = true;
        recognition.onsoundstart = function() {
            document.getElementById('status').innerHTML = "認識中";
        };
        recognition.onnomatch = function() {
            document.getElementById('status').innerHTML = "もう一度試してください";
        };
        recognition.onerror = function() {
            document.getElementById('status').innerHTML = "エラー";
            if(flag_speech == 0)
              vr_function();
        };
        recognition.onsoundend = function() {
            document.getElementById('status').innerHTML = "停止中";
              vr_function();
        };
        recognition.onresult = function(event) {
            var results = event.results;
            for (var i = event.resultIndex; i < results.length; i++) {
                if (results[i].isFinal)
                {
                    document.getElementById('result_text').innerHTML = results[i][0].transcript;
                    // console.log(results[i][0].transcript);
                    $('ul#voice-content').append('<li>' + results[i][0].transcript +'</li>')
                    var list = $("#voice-content li").text();
                    console.log(list);
                    document.getElementById('note_content').innerHTML = list;
                    vr_function();
                }
                else
                {
                    document.getElementById('result_text').innerHTML = "[途中経過] " + results[i][0].transcript;
                    // console.log(results[i][0].transcript);
                    // $('ul').append('<li>' + results[i][0].transcript +'</li>')
                    flag_speech = 1;
                }

            }
            // var list = $("#voice-content li").text();
            // console.log(list);
            // document.getElementById('#note-content').innerHTML = $("#voice-content li").text();
        //     document.addEventListener("DOMContentLoaded", function(e){
        //     var elm = document.querySelector("#note-content") || document.getElementById("note-content");
        //     elm.innerHTML = $("#voice-content li").text();
        // });
        }
        flag_speech = 0;
        document.getElementById('status').innerHTML = "start";
        recognition.start();
    }
</script>


<div class="field">
  <textarea id="result_text" cols="100" rows="10"></textarea>
  <textarea id="status" cols="100" rows="1" width=100 height=20></textarea>
</div>
  <input type="button" onClick="vr_function();" value="音認開始">
