// Place all the styles related to the Notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#voice-content{
  counter-reset:list;
  list-style-type:none;
  font: 14px/1.6 'arial narrow', sans-serif;
  padding:0;
  li{
    position:relative;
    margin: 7px 0 7px 0px;
    padding-left:40px;
    font-weight: bold;
    font-size:16px;
    line-height: 30px;
    border: 2px solid #bababa;
    color: #756C67;
  }
  li:before{
    counter-increment: list;
    content: counter(list);
    position: absolute;
    left: 0px;
    width: 30px;
    height: 30px;
    text-align: center;
    color: #fff;
    line-height:30px;
    background: #bababa;
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

#drop_zone {
  width: 100%;
  border: 5px dashed #000000;
  padding: 30px 200px;
  margin: 20px;
  font-size: 24px;
  color: #000000;
  background-color: #ffffff;
  text-align: center;
}

#note_image {
  display: none;
}

#preview {
  overflow: hidden;
}

#preview img {
  width: 100px;
  float: left;
  margin: 10px;
  cursor: move;
}

#note_content {
  margin: 0 15px;
}

.new_note{
  .btn-primary{
    margin: 0 15px;
  }
}